## Python Date Time module

In [2]:
# core module
import datetime as dt

In [16]:
dir(dt)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

---
### datetime.date
* Only date

In [7]:
today = dt.date.today()
today

datetime.date(2019, 4, 12)

In [18]:
my_bday = dt.date(1992, 5, 15)

In [19]:
my_bday

datetime.date(1992, 5, 15)

#### Convert from UNIX ts

In [20]:
# 11/02/2012 @ 12:00am (UTC)
ts = 1328918400

In [21]:
my_date = dt.date.fromtimestamp(ts)

In [22]:
my_date

datetime.date(2012, 2, 11)

In [25]:
print(f'year: {my_date.year}')
print(f'month: {my_date.month}')
print(f'day: {my_date.day}')

year: 2012
month: 2
day: 11

### datetime.time
* Only time

In [34]:
zero_time = dt.time()

In [35]:
zero_time

datetime.time(0, 0)

In [39]:
t1 = dt.time(13, 22, 45, 837)

In [40]:
t1

datetime.time(13, 22, 45, 837)

In [41]:
print(f'H: {t1.hour}')
print(f'M: {t1.minute}')
print(f'S: {t1.second}')
print(f'μs: {t1.microsecond}')

H: 13
M: 22
S: 45
μs: 837

### datetime.datetime
* Combination of both date and time

In [45]:
from datetime import datetime

In [46]:
now = datetime.now()

In [50]:
now

datetime.datetime(2019, 4, 12, 11, 49, 53, 609010)

> `datetime(year, month, day, hour, minute, second, microsecond)`

In [48]:
my_dt = datetime(2009, 10, 19, 14, 55, 34, 2344)

In [49]:
my_dt

datetime.datetime(2009, 10, 19, 14, 55, 34, 2344)

In [51]:
print(my_dt)

2009-10-19 14:55:34.002344

In [54]:
print(f'year: {my_dt.year}')
print(f'month: {my_dt.month}')
print(f'day: {my_dt.day}')
print(f'hour: {my_dt.hour}')
print(f'minute: {my_dt.minute}')
print(f'second: {my_dt.second}')
print(f'microsecond: {my_dt.microsecond}')
print(f'UNIX ts: {my_dt.timestamp()}')

year: 2009
month: 10
day: 19
hour: 14
minute: 55
second: 34
microsecond: 2344
UNIX ts: 1255953334.002344

In [57]:
my_dt.time() # returns datetime.time

datetime.time(14, 55, 34, 2344)

In [58]:
my_dt.date() # returns datetime.date

datetime.date(2009, 10, 19)

In [59]:
# 03/29/2009 @ 12:34pm (UTC)
ts = 1238330084
t2 = dt.fromtimestamp(ts)

In [60]:
t2

datetime.datetime(2009, 3, 29, 15, 34, 44)

### datetime.timedelta
* time difference b/w two datetimes

In [64]:
from datetime import datetime, date, timedelta

In [62]:
t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)

In [65]:
delta = t1 - t2

In [66]:
print(delta)

201 days, 0:00:00

In [68]:
today = datetime.now()
bday = datetime(1993, 5, 15, 12, 5, 0)

In [69]:
age = today - bday
print(age)

9462 days, 23:54:48.269060

In [72]:
date_diff = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)

In [74]:
print(date_diff.total_seconds())

435633.233423

### Format datetime
* `strftime()` : Convert `datetime` to `str` format
    - The `strftime()` method is defined under classes `date`, `datetime` and `time`.
* `strptime()` : Parse `str` date to `datetime` object

<table border="1" class="docutils">
    <colgroup>
        <col width="15%">
        <col width="43%">
        <col width="32%">
        <col width="9%">
    </colgroup>
    <thead valign="bottom">
        <tr class="row-odd">
            <th class="head">Directive</th>
            <th class="head">Meaning</th>
            <th class="head">Example</th>
            <th class="head">Notes</th>
        </tr>
    </thead>
    <tbody valign="top">
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%a</span></code></td>
            <td>Weekday as locale’s
                abbreviated name.</td>
            <td>
                <div class="first last line-block">
                    <div class="line">Sun, Mon, …, Sat
                        (en_US);</div>
                    <div class="line">So, Mo, …, Sa
                        (de_DE)</div>
                </div>
            </td>
            <td>(1)</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%A</span></code></td>
            <td>Weekday as locale’s full name.</td>
            <td>
                <div class="first last line-block">
                    <div class="line">Sunday, Monday, …,
                        Saturday (en_US);</div>
                    <div class="line">Sonntag, Montag, …,
                        Samstag (de_DE)</div>
                </div>
            </td>
            <td>(1)</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%w</span></code></td>
            <td>Weekday as a decimal number,
                where 0 is Sunday and 6 is
                Saturday.</td>
            <td>0, 1, …, 6</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%d</span></code></td>
            <td>Day of the month as a
                zero-padded decimal number.</td>
            <td>01, 02, …, 31</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%b</span></code></td>
            <td>Month as locale’s abbreviated
                name.</td>
            <td>
                <div class="first last line-block">
                    <div class="line">Jan, Feb, …, Dec
                        (en_US);</div>
                    <div class="line">Jan, Feb, …, Dez
                        (de_DE)</div>
                </div>
            </td>
            <td>(1)</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%B</span></code></td>
            <td>Month as locale’s full name.</td>
            <td>
                <div class="first last line-block">
                    <div class="line">January, February,
                        …, December (en_US);</div>
                    <div class="line">Januar, Februar, …,
                        Dezember (de_DE)</div>
                </div>
            </td>
            <td>(1)</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%m</span></code></td>
            <td>Month as a zero-padded
                decimal number.</td>
            <td>01, 02, …, 12</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%y</span></code></td>
            <td>Year without century as a
                zero-padded decimal number.</td>
            <td>00, 01, …, 99</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%Y</span></code></td>
            <td>Year with century as a decimal
                number.</td>
            <td>1970, 1988, 2001, 2013</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%H</span></code></td>
            <td>Hour (24-hour clock) as a
                zero-padded decimal number.</td>
            <td>00, 01, …, 23</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%I</span></code></td>
            <td>Hour (12-hour clock) as a
                zero-padded decimal number.</td>
            <td>01, 02, …, 12</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%p</span></code></td>
            <td>Locale’s equivalent of either
                AM or PM.</td>
            <td>
                <div class="first last line-block">
                    <div class="line">AM, PM (en_US);</div>
                    <div class="line">am, pm (de_DE)</div>
                </div>
            </td>
            <td>(1),
                (2)</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%M</span></code></td>
            <td>Minute as a zero-padded
                decimal number.</td>
            <td>00, 01, …, 59</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%S</span></code></td>
            <td>Second as a zero-padded
                decimal number.</td>
            <td>00, 01, …, 59</td>
            <td>(3)</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%f</span></code></td>
            <td>Microsecond as a decimal
                number, zero-padded on the
                left.</td>
            <td>000000, 000001, …,
                999999</td>
            <td>(4)</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%z</span></code></td>
            <td>UTC offset in the form +HHMM
                or -HHMM (empty string if the
                the object is naive).</td>
            <td>(empty), +0000, -0400,
                +1030</td>
            <td>(5)</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%Z</span></code></td>
            <td>Time zone name (empty string
                if the object is naive).</td>
            <td>(empty), UTC, EST, CST</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%j</span></code></td>
            <td>Day of the year as a
                zero-padded decimal number.</td>
            <td>001, 002, …, 366</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%U</span></code></td>
            <td>Week number of the year
                (Sunday as the first day of
                the week) as a zero padded
                decimal number. All days in a
                new year preceding the first
                Sunday are considered to be in
                week 0.</td>
            <td>00, 01, …, 53</td>
            <td>(6)</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%W</span></code></td>
            <td>Week number of the year
                (Monday as the first day of
                the week) as a decimal number.
                All days in a new year
                preceding the first Monday
                are considered to be in
                week 0.</td>
            <td>00, 01, …, 53</td>
            <td>(6)</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%c</span></code></td>
            <td>Locale’s appropriate date and
                time representation.</td>
            <td>
                <div class="first last line-block">
                    <div class="line">Tue Aug 16 21:30:00
                        1988 (en_US);</div>
                    <div class="line">Di 16 Aug 21:30:00
                        1988 (de_DE)</div>
                </div>
            </td>
            <td>(1)</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%x</span></code></td>
            <td>Locale’s appropriate date
                representation.</td>
            <td>
                <div class="first last line-block">
                    <div class="line">08/16/88 (None);</div>
                    <div class="line">08/16/1988 (en_US);</div>
                    <div class="line">16.08.1988 (de_DE)</div>
                </div>
            </td>
            <td>(1)</td>
        </tr>
        <tr class="row-even">
            <td><code class="docutils literal notranslate"><span class="pre">%X</span></code></td>
            <td>Locale’s appropriate time
                representation.</td>
            <td>
                <div class="first last line-block">
                    <div class="line">21:30:00 (en_US);</div>
                    <div class="line">21:30:00 (de_DE)</div>
                </div>
            </td>
            <td>(1)</td>
        </tr>
        <tr class="row-odd">
            <td><code class="docutils literal notranslate"><span class="pre">%%</span></code></td>
            <td>A literal <code class="docutils literal notranslate"><span class="pre">'%'</span></code> character.</td>
            <td>%</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>

**Notes:**

1. Because the format depends on the current locale, care should be taken when making assumptions about the output value. Field orderings will vary (for example, “month/day/year” versus “day/month/year”), and the output may contain Unicode characters encoded using the locale’s default encoding (for example, if the current locale is ja_JP, the default encoding could be any one of eucJP, SJIS, or utf-8; use locale.getlocale() to determine the current locale’s encoding).

2. When used with the strptime() method, the %p directive only affects the output hour field if the %I directive is used to parse the hour.

3. Unlike the time module, the datetime module does not support leap seconds.

4. %f is an extension to the set of format characters in the C standard (but implemented separately in datetime objects, and therefore always available). When used with the strptime() method, the %f directive accepts from one to six digits and zero pads on the right.

_New in version 2.6._

5. For a naive object, the %z and %Z format codes are replaced by empty strings.

    For an aware object:

    %z
    utcoffset() is transformed into a 5-character string of the form +HHMM or -HHMM, where HH is a 2-digit string giving the number of UTC offset hours, and MM is a 2-digit string giving the number of UTC offset minutes. For example, if utcoffset() returns timedelta(hours=-3, minutes=-30), %z is replaced with the string '-0330'.

    %Z
    If tzname() returns None, %Z is replaced by an empty string. Otherwise %Z is replaced by the returned value, which must be a string.

6. When used with the strptime() method, %U and %W are only used in calculations when the day of the week and the year are specified.

In [79]:
now = datetime.now()

#### Format Date

In [80]:
fmt_1 = '%d/%m/%Y %H:%M:%S'

In [81]:
now.strftime(fmt_1)

'12/04/2019 12:22:06'

In [84]:
fmt_2 = '%A, %d %B %Y, %X'

In [85]:
now.strftime(fmt_2)

'Friday, 12 April 2019, 12:22:06'

In [86]:
now.strftime('%c')

'Fri Apr 12 12:22:06 2019'

#### Parse Date

In [92]:
datetime.strptime('22 Apr 2019 15:35:31', '%d %b %Y %H:%M:%S')

datetime.datetime(2019, 4, 22, 15, 35, 31)

In [93]:
datetime.strptime('22/08/2019', '%d/%m/%Y')

datetime.datetime(2019, 8, 22, 0, 0)

### Time Zones

In [95]:
from datetime import datetime
import pytz

In [102]:
now = datetime.now()
now

datetime.datetime(2019, 4, 12, 12, 34, 57, 547358)

In [108]:
now_utc = datetime.now(tz=pytz.UTC)
now_utc

datetime.datetime(2019, 4, 12, 10, 22, 51, 511008, tzinfo=<UTC>)

In [105]:
la_tz = pytz.timezone("America/Los_Angeles")

In [106]:
la_tz.localize(now)

datetime.datetime(2019, 4, 12, 12, 34, 57, 547358, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>)

In [109]:
now_utc.strftime('%d/%m/%Y %H:%M:%S %Z')

'12/04/2019 10:22:51 UTC'

In [110]:
now.strftime('%d/%m/%Y %H:%M:%S %Z') # no timezone info for `now` object

'12/04/2019 12:34:57 '

##### All timezones in `pytz`

In [111]:
pytz.all_timezones_set

{'Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu'}