In [1]:
import random

#### `Random float x, 0.0 <= x < 1.0`

In [2]:
random.random()

0.4925795205879041

In [21]:
for _ in range(1, 20):
    print(random.random(), end=', ')

0.12087320415313196, 0.1969174772035317, 0.5084069128340184, 0.3772487936188492, 0.9835615703196272, 0.5139572239641957, 0.00568772921234717, 0.5819419669552475, 0.3147239970847052, 0.9833665412665971, 0.02961994402971113, 0.4270873620408535, 0.5679840683359276, 0.19558840121501497, 0.7049160679376987, 0.6676022817525366, 0.8880794266417494, 0.3883583525776797, 0.09226311436922918,

#### `Random float x, 1.0 <= x < 10.0`

In [4]:
random.uniform(1, 10)

4.6744587891871054

In [5]:
random.uniform(1, 10)

4.586123984178995

In [6]:
random.uniform(1, 10)

5.676944487362391

#### `Integer from 1 to 10, endpoints included`

In [7]:
random.randint(1, 10)

2

In [16]:
for _ in range(1, 10):
    print(random.randint(1, 10), end=', ')

8, 4, 7, 7, 2, 7, 4, 3, 3,

In [17]:
for _ in range(1, 50):
    print(random.randint(1, 1000), end=', ')

841, 686, 741, 24, 909, 851, 762, 242, 979, 216, 692, 324, 854, 240, 532, 668, 912, 905, 100, 214, 786, 618, 334, 670, 498, 854, 584, 576, 782, 517, 875, 301, 385, 13, 334, 327, 566, 745, 844, 839, 80, 969, 926, 333, 303, 137, 68, 42, 87,

#### `Random number in a range with a step`
```py
random.randrange(start, stop=None, step=1, _int=<class 'int'>)
```

In [49]:
# random even numners between 0 to 100

for _ in range(100):
    print(random.randrange(0, 101, 2), end=', ')

72, 0, 24, 80, 36, 22, 18, 74, 82, 12, 4, 84, 48, 24, 62, 60, 98, 94, 32, 2, 10, 34, 40, 46, 28, 72, 72, 90, 22, 52, 56, 48, 72, 58, 46, 50, 36, 8, 78, 54, 14, 88, 40, 2, 98, 16, 46, 52, 26, 92, 20, 44, 80, 68, 10, 32, 100, 92, 24, 74, 88, 98, 76, 52, 90, 60, 50, 78, 14, 80, 50, 90, 48, 74, 32, 4, 2, 80, 0, 28, 26, 42, 26, 92, 80, 24, 70, 28, 42, 4, 100, 4, 70, 88, 32, 68, 20, 34, 0, 6,

In [47]:
# random 5 divisibles between 0 to 5000

for _ in range(100):
    print(random.randrange(0, 5000, 5), end=', ')

4055, 1445, 145, 2590, 2480, 1400, 860, 3705, 2720, 3105, 1210, 155, 2010, 3050, 4555, 2340, 2530, 3170, 4760, 2265, 4170, 4990, 255, 2925, 3590, 4410, 1605, 4630, 1810, 1205, 2735, 390, 4835, 1915, 1975, 4165, 875, 4495, 2540, 2260, 2320, 330, 1065, 3645, 3635, 4055, 3500, 3500, 655, 3365, 2660, 2075, 2455, 2920, 2800, 75, 4955, 1775, 2705, 4550, 3460, 830, 1145, 140, 3945, 1760, 560, 1480, 3930, 515, 2390, 1740, 3330, 3230, 100, 4805, 3470, 4550, 3950, 4315, 2485, 1770, 2410, 2310, 1735, 3765, 800, 2660, 2035, 2800, 2490, 1560, 3770, 2620, 4065, 3295, 4045, 2585, 2085, 3530,

#### Random choice

In [50]:
random.choice('abcdefghij')

'g'

In [53]:
my_list = ['John', 'Sia', 'Kane', 'Mark', 'Lilly', 'Drew', 'Greg', 
           'Peet', 'Sally', 'Rocket', 'Tony', 'Bill', 'Steve', 'Tom']
random.choice(my_list)

'Tony'

In [54]:
for _ in range(5):
    print(random.choice(my_list))

Lilly
Rocket
Peet
Kane
Sally

#### Shuffle

In [55]:
my_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
random.shuffle(my_numbers)
my_numbers

[7, 5, 8, 9, 4, 0, 2, 1, 3, 6]

In [60]:
random.shuffle(my_numbers)
my_numbers

[6, 5, 2, 0, 1, 4, 3, 7, 9, 8]

#### Sample

In [63]:
my_numbers = [32, 4, 6, 7, 345, 87, 2, 67]
random.sample(my_numbers, 5) # get a sample of 5 from list

[2, 32, 7, 87, 67]

In [64]:
random.sample(my_list, 4) # 4 random items from a list

['John', 'Bill', 'Peet', 'Sia']